/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(party.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: cursive;
}

header {
    color: yellowgreen;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(254, 251, 251, 0.1);
    color: whitesmoke;
}

.party {
    margin-bottom: 20px;
}

.party img {
    max-width: 100%;
    height: auto;
}

.djs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dj {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

.dj img {
    max-width: 100%;
    height: auto;
}
section{
    max-width: 800px;
    margin-top: 80px;
    padding: 20px;
    background-color: rgb(4, 4, 4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}