body {
    background-image: url(simple\ background.jpg); 
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    border-radius: 10px;
    padding: 50px;
    padding-right: 50px;
    text-align: center;
}



.form-group {
    margin: 10px 0;
}

.form-group label {
    display:block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-in-link {
    margin-top: 10px;
}

.sign-in-link a {
    text-decoration: none;
}
